---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");

// Sort projects by the sort parameter
projects.sort((a, b) => (a.data.sort || 0) - (b.data.sort || 0));
---

<section id="work" class="relative bg-primary">
  <h2 class="sr-only">Featured work</h2>
  <div class="py-24 xl:py-36">
    <svg
      width="876"
      height="363"
      class="h-auto w-full opacity-0 md:hidden"
      viewBox="0 0 876 363"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      data-motion="featuredwork"
    >
      <path
        d="M-2.85227 152V0.727295H97.3068V27.0966H29.1307V63.1421H90.6591V89.5114H29.1307V152H-2.85227Z"
        fill="white"
        fill-opacity="0.2"></path>
      <path
        d="M161.605 154.216C149.935 154.216 139.889 151.852 131.469 147.125C123.098 142.349 116.647 135.602 112.116 126.886C107.586 118.121 105.321 107.756 105.321 95.7898C105.321 84.1193 107.586 73.8769 112.116 65.0625C116.647 56.2481 123.024 49.3788 131.247 44.4546C139.52 39.5303 149.221 37.0682 160.349 37.0682C167.834 37.0682 174.802 38.2746 181.253 40.6875C187.753 43.0512 193.416 46.6212 198.241 51.3978C203.116 56.1743 206.908 62.1818 209.616 69.4205C212.325 76.6099 213.679 85.0303 213.679 94.6818V103.324H117.878V83.8239H184.06C184.06 79.2936 183.075 75.2803 181.105 71.7841C179.135 68.2879 176.402 65.5549 172.906 63.5853C169.459 61.5663 165.446 60.5568 160.866 60.5568C156.09 60.5568 151.855 61.6648 148.162 63.8807C144.518 66.0474 141.662 68.9773 139.594 72.6705C137.526 76.3144 136.467 80.3769 136.418 84.858V103.398C136.418 109.011 137.452 113.862 139.52 117.949C141.637 122.036 144.616 125.188 148.457 127.403C152.298 129.619 156.853 130.727 162.122 130.727C165.618 130.727 168.819 130.235 171.724 129.25C174.63 128.265 177.116 126.788 179.185 124.818C181.253 122.849 182.829 120.436 183.912 117.58L213.014 119.5C211.537 126.492 208.509 132.599 203.929 137.818C199.399 142.989 193.539 147.027 186.349 149.932C179.209 152.788 170.961 154.216 161.605 154.216Z"
        fill="white"
        fill-opacity="0.2"></path>
      <path
        d="M266.565 154.142C259.327 154.142 252.876 152.886 247.213 150.375C241.55 147.814 237.069 144.047 233.77 139.074C230.52 134.051 228.895 127.797 228.895 120.313C228.895 114.01 230.052 108.716 232.366 104.432C234.681 100.148 237.832 96.7008 241.821 94.0909C245.81 91.4811 250.34 89.5114 255.412 88.1818C260.533 86.8523 265.901 85.9167 271.514 85.375C278.113 84.6856 283.431 84.0455 287.469 83.4546C291.507 82.8144 294.437 81.8788 296.259 80.6478C298.08 79.4167 298.991 77.5947 298.991 75.1818V74.7387C298.991 70.0606 297.514 66.4413 294.56 63.8807C291.654 61.3201 287.518 60.0398 282.151 60.0398C276.488 60.0398 271.982 61.2955 268.634 63.8068C265.285 66.269 263.069 69.3712 261.986 73.1137L232.884 70.75C234.361 63.8561 237.266 57.8978 241.599 52.875C245.933 47.8031 251.522 43.9129 258.366 41.2046C265.26 38.447 273.238 37.0682 282.298 37.0682C288.601 37.0682 294.634 37.8068 300.395 39.2841C306.206 40.7614 311.351 43.0512 315.832 46.1534C320.363 49.2557 323.933 53.2443 326.543 58.1193C329.152 62.9451 330.457 68.7311 330.457 75.4773V152H300.616V136.267H299.73C297.908 139.813 295.471 142.939 292.418 145.648C289.365 148.307 285.696 150.4 281.412 151.926C277.128 153.403 272.179 154.142 266.565 154.142ZM275.577 132.426C280.206 132.426 284.293 131.515 287.838 129.693C291.384 127.822 294.166 125.311 296.185 122.159C298.204 119.008 299.213 115.438 299.213 111.449V99.4091C298.228 100.049 296.874 100.64 295.151 101.182C293.476 101.674 291.58 102.142 289.463 102.585C287.346 102.979 285.228 103.349 283.111 103.693C280.993 103.989 279.073 104.259 277.349 104.506C273.656 105.047 270.431 105.909 267.673 107.091C264.916 108.273 262.774 109.873 261.247 111.892C259.721 113.862 258.957 116.324 258.957 119.278C258.957 123.563 260.509 126.837 263.611 129.102C266.762 131.318 270.751 132.426 275.577 132.426Z"
        fill="white"
        fill-opacity="0.2"></path>
      <path
        d="M415.216 38.5455V62.1818H346.892V38.5455H415.216ZM362.403 11.3637H393.869V117.136C393.869 120.042 394.312 122.307 395.199 123.932C396.085 125.508 397.316 126.616 398.892 127.256C400.517 127.896 402.388 128.216 404.506 128.216C405.983 128.216 407.46 128.093 408.938 127.847C410.415 127.551 411.547 127.33 412.335 127.182L417.284 150.597C415.708 151.089 413.492 151.655 410.636 152.295C407.78 152.985 404.309 153.403 400.222 153.551C392.638 153.847 385.991 152.837 380.278 150.523C374.616 148.208 370.208 144.614 367.057 139.739C363.905 134.864 362.354 128.708 362.403 121.273V11.3637Z"
        fill="white"
        fill-opacity="0.2"></path>
      <path
        d="M508.469 103.693V38.5455H539.935V152H509.724V131.392H508.543C505.982 138.04 501.723 143.383 495.764 147.42C489.855 151.458 482.641 153.477 474.122 153.477C466.539 153.477 459.866 151.754 454.105 148.307C448.344 144.86 443.838 139.96 440.588 133.608C437.387 127.256 435.762 119.648 435.713 110.784V38.5455H467.179V105.17C467.228 111.867 469.026 117.161 472.571 121.051C476.116 124.941 480.868 126.886 486.827 126.886C490.618 126.886 494.164 126.025 497.463 124.301C500.762 122.528 503.421 119.919 505.44 116.472C507.509 113.025 508.518 108.765 508.469 103.693Z"
        fill="white"
        fill-opacity="0.2"></path>
      <path
        d="M565.104 152V38.5455H595.609V58.3409H596.791C598.859 51.2993 602.331 45.9811 607.206 42.3864C612.081 38.7424 617.695 36.9205 624.047 36.9205C625.623 36.9205 627.322 37.019 629.143 37.2159C630.965 37.4129 632.566 37.6837 633.945 38.0284V65.9489C632.467 65.5057 630.424 65.1118 627.814 64.7671C625.204 64.4224 622.816 64.25 620.649 64.25C616.02 64.25 611.884 65.2595 608.24 67.2784C604.645 69.2481 601.789 72.0057 599.672 75.5512C597.604 79.0966 596.57 83.1837 596.57 87.8125V152H565.104Z"
        fill="white"
        fill-opacity="0.2"></path>
      <path
        d="M696.636 154.216C684.966 154.216 674.92 151.852 666.5 147.125C658.129 142.349 651.678 135.602 647.148 126.886C642.617 118.121 640.352 107.756 640.352 95.7898C640.352 84.1193 642.617 73.8769 647.148 65.0625C651.678 56.2481 658.055 49.3788 666.278 44.4546C674.551 39.5303 684.252 37.0682 695.381 37.0682C702.866 37.0682 709.833 38.2746 716.284 40.6875C722.784 43.0512 728.447 46.6212 733.273 51.3978C738.148 56.1743 741.939 62.1818 744.648 69.4205C747.356 76.6099 748.71 85.0303 748.71 94.6818V103.324H652.909V83.8239H719.091C719.091 79.2936 718.106 75.2803 716.136 71.7841C714.167 68.2879 711.434 65.5549 707.938 63.5853C704.491 61.5663 700.477 60.5568 695.898 60.5568C691.121 60.5568 686.886 61.6648 683.193 63.8807C679.549 66.0474 676.693 68.9773 674.625 72.6705C672.557 76.3144 671.498 80.3769 671.449 84.858V103.398C671.449 109.011 672.483 113.862 674.551 117.949C676.669 122.036 679.648 125.188 683.489 127.403C687.33 129.619 691.884 130.727 697.153 130.727C700.65 130.727 703.85 130.235 706.756 129.25C709.661 128.265 712.148 126.788 714.216 124.818C716.284 122.849 717.86 120.436 718.943 117.58L748.045 119.5C746.568 126.492 743.54 132.599 738.96 137.818C734.43 142.989 728.57 147.027 721.381 149.932C714.241 152.788 705.992 154.216 696.636 154.216Z"
        fill="white"
        fill-opacity="0.2"></path>
      <path
        d="M811.051 153.847C802.434 153.847 794.629 151.631 787.636 147.199C780.693 142.718 775.178 136.144 771.091 127.477C767.053 118.761 765.034 108.076 765.034 95.4205C765.034 82.4205 767.127 71.6118 771.312 62.9943C775.498 54.3277 781.062 47.8523 788.006 43.5682C794.998 39.2349 802.655 37.0682 810.977 37.0682C817.33 37.0682 822.623 38.1515 826.858 40.3182C831.142 42.4356 834.589 45.0947 837.199 48.2955C839.858 51.447 841.877 54.5493 843.256 57.6023H844.216V0.727295H875.608V152H844.585V133.83H843.256C841.778 136.981 839.686 140.108 836.977 143.21C834.318 146.263 830.847 148.799 826.562 150.818C822.328 152.837 817.157 153.847 811.051 153.847ZM821.023 128.807C826.095 128.807 830.379 127.428 833.875 124.67C837.42 121.864 840.129 117.949 842 112.926C843.92 107.903 844.881 102.019 844.881 95.2728C844.881 88.5265 843.945 82.6667 842.074 77.6932C840.203 72.7197 837.494 68.8788 833.949 66.1705C830.403 63.4621 826.095 62.108 821.023 62.108C815.852 62.108 811.494 63.5114 807.949 66.3182C804.403 69.125 801.72 73.0152 799.898 77.9887C798.076 82.9621 797.165 88.7235 797.165 95.2728C797.165 101.871 798.076 107.706 799.898 112.778C801.769 117.801 804.453 121.741 807.949 124.597C811.494 127.403 815.852 128.807 821.023 128.807Z"
        fill="white"
        fill-opacity="0.2"></path>
      <path
        d="M18.9375 360L-11.9375 246.545H19.8977L37.4773 322.773H38.5114L56.8296 246.545H88.0739L106.688 322.33H107.648L124.932 246.545H156.693L125.892 360H92.5796L73.0796 288.648H71.6761L52.1761 360H18.9375Z"
        fill="white"
        fill-opacity="0.2"></path>
      <path
        d="M221.896 362.216C210.423 362.216 200.5 359.778 192.129 354.903C183.807 349.979 177.381 343.135 172.851 334.369C168.321 325.555 166.055 315.337 166.055 303.716C166.055 291.996 168.321 281.754 172.851 272.989C177.381 264.174 183.807 257.33 192.129 252.455C200.5 247.53 210.423 245.068 221.896 245.068C233.37 245.068 243.268 247.53 251.589 252.455C259.961 257.33 266.411 264.174 270.942 272.989C275.472 281.754 277.737 291.996 277.737 303.716C277.737 315.337 275.472 325.555 270.942 334.369C266.411 343.135 259.961 349.979 251.589 354.903C243.268 359.778 233.37 362.216 221.896 362.216ZM222.044 337.841C227.264 337.841 231.622 336.364 235.118 333.409C238.614 330.405 241.249 326.318 243.021 321.148C244.843 315.977 245.754 310.093 245.754 303.494C245.754 296.896 244.843 291.011 243.021 285.841C241.249 280.67 238.614 276.583 235.118 273.58C231.622 270.576 227.264 269.074 222.044 269.074C216.775 269.074 212.343 270.576 208.749 273.58C205.203 276.583 202.519 280.67 200.697 285.841C198.925 291.011 198.038 296.896 198.038 303.494C198.038 310.093 198.925 315.977 200.697 321.148C202.519 326.318 205.203 330.405 208.749 333.409C212.343 336.364 216.775 337.841 222.044 337.841Z"
        fill="white"
        fill-opacity="0.2"></path>
      <path
        d="M298.197 360V246.545H328.703V266.341H329.885C331.953 259.299 335.425 253.981 340.3 250.386C345.175 246.742 350.788 244.92 357.141 244.92C358.716 244.92 360.415 245.019 362.237 245.216C364.059 245.413 365.66 245.684 367.038 246.028V273.949C365.561 273.506 363.518 273.112 360.908 272.767C358.298 272.422 355.91 272.25 353.743 272.25C349.114 272.25 344.978 273.26 341.334 275.278C337.739 277.248 334.883 280.006 332.766 283.551C330.697 287.097 329.663 291.184 329.663 295.813V360H298.197Z"
        fill="white"
        fill-opacity="0.2"></path>
      <path
        d="M411.818 327.352L411.892 289.608H416.472L452.812 246.545H488.932L440.108 303.568H432.648L411.818 327.352ZM383.307 360V208.727H414.773V360H383.307ZM454.216 360L420.83 310.585L441.807 288.352L491.074 360H454.216Z"
        fill="white"
        fill-opacity="0.2"></path>
    </svg>

    <svg
      width="1512"
      height="171"
      class="hidden h-auto w-full opacity-0 md:block"
      viewBox="0 0 1512 171"
      fill="white"
      fill-opacity="0.2"
      xmlns="http://www.w3.org/2000/svg"
      data-motion="featuredwork"
    >
      <path
        d="M103.878 29.7744H20.8848V67.8457H93.5459V96.5957H20.8848V166H-13.4805V0.6875H103.878V29.7744Z"
      ></path>
      <path
        d="M229.322 130.062C228.499 137.325 224.718 144.7 217.979 152.187C207.498 164.091 192.823 170.043 173.956 170.043C158.383 170.043 144.645 165.027 132.74 154.994C120.836 144.962 114.884 128.64 114.884 106.029C114.884 84.8411 120.237 68.5944 130.943 57.2891C141.725 45.9837 155.688 40.3311 172.833 40.3311C183.015 40.3311 192.187 42.2402 200.348 46.0586C208.508 49.877 215.247 55.904 220.562 64.1396C225.354 71.402 228.461 79.8249 229.884 89.4082C230.707 95.0234 231.044 103.109 230.895 113.666H147.115C147.564 125.945 151.42 134.555 158.683 139.496C163.1 142.566 168.416 144.101 174.63 144.101C181.218 144.101 186.572 142.229 190.689 138.485C192.936 136.464 194.92 133.656 196.642 130.062H229.322ZM197.652 92.5527C197.128 84.0924 194.545 77.6911 189.903 73.3486C185.336 68.9313 179.646 66.7227 172.833 66.7227C165.421 66.7227 159.656 69.0436 155.538 73.6855C151.495 78.3275 148.95 84.6165 147.901 92.5527H197.652Z"
      ></path>
      <path
        d="M257.174 56.8398C265.634 46.0586 280.159 40.668 300.748 40.668C314.15 40.668 326.054 43.3258 336.461 48.6416C346.868 53.9574 352.071 63.9899 352.071 78.7393V134.892C352.071 138.785 352.146 143.502 352.296 149.042C352.521 153.235 353.157 156.08 354.205 157.577C355.253 159.075 356.826 160.31 358.922 161.283V166H324.107C323.134 163.529 322.46 161.208 322.086 159.037C321.712 156.866 321.412 154.395 321.188 151.625C316.77 156.417 311.679 160.497 305.914 163.866C299.026 167.834 291.24 169.818 282.555 169.818C271.474 169.818 262.302 166.674 255.04 160.385C247.853 154.021 244.259 145.036 244.259 133.432C244.259 118.383 250.061 107.489 261.666 100.751C268.03 97.0824 277.389 94.4619 289.742 92.8896L300.636 91.542C306.55 90.7933 310.781 89.8574 313.326 88.7344C317.893 86.7878 320.177 83.7555 320.177 79.6377C320.177 74.6214 318.417 71.1774 314.898 69.3057C311.454 67.359 306.363 66.3857 299.625 66.3857C292.063 66.3857 286.71 68.2575 283.565 72.001C281.319 74.7712 279.822 78.5146 279.073 83.2314H248.189C248.863 72.5251 251.858 63.7279 257.174 56.8398ZM280.982 142.865C283.977 145.336 287.646 146.571 291.988 146.571C298.876 146.571 305.203 144.55 310.968 140.507C316.808 136.464 319.84 129.089 320.064 118.383V106.479C318.043 107.751 315.984 108.799 313.888 109.623C311.866 110.372 309.059 111.083 305.465 111.757L298.277 113.104C291.539 114.302 286.71 115.762 283.79 117.484C278.849 120.404 276.378 124.934 276.378 131.073C276.378 136.539 277.913 140.469 280.982 142.865Z"
      ></path>
      <path
        d="M436.637 143.202V167.123L421.476 167.685C406.352 168.209 396.02 165.588 390.479 159.823C386.886 156.155 385.089 150.502 385.089 142.865V67.5088H368.019V44.7109H385.089V10.5703H416.759V44.7109H436.637V67.5088H416.759V132.196C416.759 137.213 417.395 140.357 418.668 141.63C419.941 142.828 423.834 143.427 430.348 143.427C431.321 143.427 432.332 143.427 433.38 143.427C434.503 143.352 435.589 143.277 436.637 143.202Z"
      ></path>
      <path
        d="M535.689 148.705C535.39 149.079 534.641 150.202 533.443 152.074C532.245 153.946 530.823 155.593 529.176 157.016C524.16 161.508 519.293 164.577 514.576 166.225C509.934 167.872 504.469 168.695 498.18 168.695C480.061 168.695 467.857 162.182 461.568 149.154C458.049 141.967 456.29 131.373 456.29 117.372V43.5879H489.083V117.372C489.083 124.335 489.907 129.576 491.554 133.095C494.474 139.309 500.201 142.416 508.736 142.416C519.667 142.416 527.154 137.999 531.197 129.164C533.294 124.372 534.342 118.046 534.342 110.185V43.5879H566.798V166H535.689V148.705Z"
      ></path>
      <path
        d="M659.337 73.124C646.459 73.124 637.812 77.3167 633.395 85.7021C630.924 90.4189 629.688 97.6813 629.688 107.489V166H597.457V43.5879H628.004V64.9258C632.945 56.765 637.25 51.1872 640.919 48.1924C646.909 43.1761 654.695 40.668 664.278 40.668C664.877 40.668 665.364 40.7054 665.738 40.7803C666.188 40.7803 667.123 40.8177 668.546 40.8926V73.6855C666.524 73.4609 664.728 73.3112 663.155 73.2363C661.583 73.1615 660.31 73.124 659.337 73.124Z"
      ></path>
      <path
        d="M792.193 130.062C791.37 137.325 787.589 144.7 780.851 152.187C770.369 164.091 755.694 170.043 736.827 170.043C721.254 170.043 707.516 165.027 695.611 154.994C683.707 144.962 677.755 128.64 677.755 106.029C677.755 84.8411 683.108 68.5944 693.814 57.2891C704.596 45.9837 718.559 40.3311 735.704 40.3311C745.886 40.3311 755.058 42.2402 763.219 46.0586C771.38 49.877 778.118 55.904 783.434 64.1396C788.225 71.402 791.332 79.8249 792.755 89.4082C793.578 95.0234 793.915 103.109 793.766 113.666H709.986C710.436 125.945 714.291 134.555 721.554 139.496C725.971 142.566 731.287 144.101 737.501 144.101C744.09 144.101 749.443 142.229 753.561 138.485C755.807 136.464 757.791 133.656 759.513 130.062H792.193ZM760.523 92.5527C759.999 84.0924 757.416 77.6911 752.774 73.3486C748.207 68.9313 742.517 66.7227 735.704 66.7227C728.292 66.7227 722.527 69.0436 718.409 73.6855C714.366 78.3275 711.821 84.6165 710.772 92.5527H760.523Z"
      ></path>
      <path
        d="M926.847 0.6875V166H895.738V149.042C891.171 156.304 885.968 161.583 880.128 164.877C874.288 168.171 867.026 169.818 858.341 169.818C844.041 169.818 831.987 164.053 822.179 152.523C812.446 140.919 807.579 126.057 807.579 107.938C807.579 87.0498 812.371 70.6159 821.954 58.6367C831.612 46.6576 844.49 40.668 860.587 40.668C867.999 40.668 874.588 42.3151 880.353 45.6094C886.118 48.8288 890.797 53.321 894.391 59.0859V0.6875H926.847ZM840.597 105.58C840.597 116.885 842.843 125.907 847.335 132.646C851.752 139.459 858.491 142.865 867.55 142.865C876.609 142.865 883.497 139.496 888.214 132.758C892.931 126.02 895.289 117.297 895.289 106.591C895.289 91.6169 891.508 80.9105 883.946 74.4717C879.304 70.5785 873.914 68.6318 867.774 68.6318C858.416 68.6318 851.528 72.1882 847.11 79.3008C842.768 86.3385 840.597 95.0983 840.597 105.58Z"
      ></path>
      <path
        d="M1112.94 166L1093.73 76.8301L1074.3 166H1041.06L1006.7 43.5879H1041.06L1060.15 131.41L1077.78 43.5879H1110.24L1128.88 131.747L1147.97 43.5879H1181.33L1145.84 166H1112.94Z"
      ></path>
      <path
        d="M1301.16 59.0859C1311.49 72.0384 1316.66 87.3493 1316.66 105.019C1316.66 122.987 1311.49 138.373 1301.16 151.176C1290.83 163.904 1275.14 170.268 1254.1 170.268C1233.06 170.268 1217.38 163.904 1207.05 151.176C1196.71 138.373 1191.55 122.987 1191.55 105.019C1191.55 87.3493 1196.71 72.0384 1207.05 59.0859C1217.38 46.1335 1233.06 39.6572 1254.1 39.6572C1275.14 39.6572 1290.83 46.1335 1301.16 59.0859ZM1253.99 66.7227C1244.63 66.7227 1237.41 70.0544 1232.32 76.7178C1227.3 83.3063 1224.79 92.7399 1224.79 105.019C1224.79 117.297 1227.3 126.768 1232.32 133.432C1237.41 140.095 1244.63 143.427 1253.99 143.427C1263.35 143.427 1270.54 140.095 1275.55 133.432C1280.57 126.768 1283.08 117.297 1283.08 105.019C1283.08 92.7399 1280.57 83.3063 1275.55 76.7178C1270.54 70.0544 1263.35 66.7227 1253.99 66.7227Z"
      ></path>
      <path
        d="M1401.22 73.124C1388.34 73.124 1379.7 77.3167 1375.28 85.7021C1372.81 90.4189 1371.57 97.6813 1371.57 107.489V166H1339.34V43.5879H1369.89V64.9258C1374.83 56.765 1379.14 51.1872 1382.8 48.1924C1388.79 43.1761 1396.58 40.668 1406.16 40.668C1406.76 40.668 1407.25 40.7054 1407.62 40.7803C1408.07 40.7803 1409.01 40.8177 1410.43 40.8926V73.6855C1408.41 73.4609 1406.61 73.3112 1405.04 73.2363C1403.47 73.1615 1402.19 73.124 1401.22 73.124Z"
      ></path>
      <path
        d="M1541.6 166H1502.97L1473.66 113.666L1460.41 127.479V166H1428.96V1.02441H1460.41V90.1943L1500.27 44.1494H1539.92L1497.13 90.9805L1541.6 166Z"
      ></path>
    </svg>
  </div>

  <div
    class="swiper relative z-[1] my-auto block h-auto w-full touch-pan-y overflow-hidden text-white"
  >
    <div
      class="swiper-wrapper relative box-content flex h-[calc(100%-5.5rem)] w-full"
    >
      {
        projects.map((project) => (
          <div class="swiper-slide relative flex aspect-[3/5] h-full w-4/5 shrink-0 cursor-pointer flex-col items-center justify-center overflow-hidden rounded bg-white/5 px-3 transition-opacity delay-500 duration-500 md:w-1/2 md:px-4 lg:aspect-[4/5] lg:w-[calc(40%-58px)] lg:px-8 [&.swiper-slide-active]:cursor-default md:[&.swiper-slide-next]:cursor-default [&.swiper-slide-prev]:opacity-0">
            <div class="pointer-events-none absolute inset-0 bg-gradient-to-b from-black/30 via-transparent to-transparent" />

            <h2 class="absolute inset-3 z-10 text-xl font-semibold md:inset-8">
              {project.data.url ? (
                <a
                  href={project.data.url}
                  class="group inline-flex items-center gap-2"
                  target="_blank"
                >
                  {project.data.title}
                  <span class="opacity-0 transition-opacity group-hover:opacity-100">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-4"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
                      />
                    </svg>{" "}
                  </span>
                </a>
              ) : (
                project.data.title
              )}
            </h2>

            {project.data.image ? (
              <Image
                src={project.data.image}
                alt={project.data.title}
                class="absolute inset-0 -z-10 h-full w-full object-cover"
              />
            ) : project.data.video ? (
              <video
                src={project.data.video}
                class="absolute inset-0 -z-10 h-full w-full object-cover"
                autoplay
                loop
                muted
              />
            ) : null}

            {project.data.browser_image ? (
              <Image
                src={project.data.browser_image}
                alt={project.data.title}
                class="z-10 max-h-[75%] w-auto rounded"
              />
            ) : project.data.browser_video ? (
              <video
                src={project.data.browser_video}
                class="z-10 rounded"
                autoplay
                loop
                muted
              />
            ) : null}

            {project.data.tags && project.data.tags.length > 0 && (
              <ul class="absolute bottom-3 left-3 flex flex-wrap gap-2 md:bottom-4 md:left-4">
                {project.data.tags.map((tag) => (
                  <li class="shrink-0 cursor-default rounded border border-white/50 p-1 text-[0.5rem] font-semibold uppercase leading-none tracking-wide backdrop-blur-sm sm:p-2 sm:text-[0.65rem]">
                    {tag}
                  </li>
                ))}
              </ul>
            )}
          </div>
        ))
      }
    </div>
    <div class="container hidden max-w-none gap-2 py-4 md:flex lg:py-8">
      <button
        class="swiper-button-prev text-white opacity-70 transition-opacity hover:opacity-100"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          ></path>
        </svg>
      </button>
      <button
        class="swiper-button-next text-white opacity-70 transition-opacity hover:opacity-100"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          ></path>
        </svg>
      </button>
    </div>
  </div>

  <div
    class="container max-w-none pb-24 pt-16 text-2xl text-white xl:pb-36"
    data-motion="fade"
  >
    Crafting unique online experiences with a focus on performance. Stay tuned
    for upcoming case studies, delving into the details of how I've created
    exceptional digital journeys that elevate both aesthetics and functionality.
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Autoplay, Navigation } from "swiper/modules";

  // init Swiper:
  const swiper = new Swiper(".swiper", {
    // configure Swiper to use modules
    modules: [Autoplay, Navigation],
    slidesPerView: "auto",
    spaceBetween: 16,
    loop: true,
    slidesOffsetBefore: 24,
    speed: 500,
    autoplay: {
      disableOnInteraction: true,
      pauseOnMouseEnter: false,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      768: {
        // MD and up
        spaceBetween: 24,
        slidesOffsetBefore: 32,
      },
      1024: {
        // LG and up
        spaceBetween: 24,
        slidesOffsetBefore: 48,
      },
      1280: {
        // XL and up
        spaceBetween: 32,
        slidesOffsetBefore: 64,
      },
    },
  });

  // Add click event listener to the slides
  swiper.on("click", function (swiper) {
    // If the last slide is clicked, navigate to the next slide
    if (swiper.clickedIndex === swiper.activeIndex + 2) {
      swiper.slideNext();
    }
  });
</script>
